@font-face {
    font-family: "barlow";
    src: url(./Assets/barlow-font/Barlow-Regular.ttf);
}

body {
    font-family: "Barlow";
}

/* Header */

header {
    padding: 15px;
    background-color: #FF5C1D;
    display: flex;
    align-items: flex-start;
    box-shadow: 0px 4px 10px 0px #00000040;
}

.email {
    display: flex;
    padding-left: 135px;
    justify-content: center;
    align-items: center;
}

.email > img {
    width: 22px;
    height: 15.48px;
}

.email-text {
    font-family: sans-serif;
    color: #FFFFFF;
    padding: 5px 0px 5px 10px;
}

.phone {
    display: flex;
    padding-left: 100px;
    justify-content: center;
    align-items: center;
}

.phone-img {
    width: 18px;
    height: 18px;
    padding: 0.1px, 0.12px, 0.12px, 0.1px;    
}

.phone-text {
    color: #FFFFFF;
    font-family: Barlow;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    padding: 5px 0px 5px 10px;
}

/* navbar */

.navbar {
 padding: 20px 80px 20px 100px;
}

nav {
    padding: 40px;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 1);
}

.navbar a {
    color: black;
}

.navbar a:hover {
    color: rgba(255, 92, 29, 1);
}

.navbar a:focus {
    color: rgba(255, 92, 29, 1);
}

.nav-link.dropdown-toggle::after {
    display: none; 
}

.custom-dropdown-icon {
    padding-left: 2px;
}

.sign-in a {
    padding: 10px;
    text-decoration: none;
}

.btn-primary {
    width: 100px;
    height: 40px;
    top: 90px;
    left: 1215px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(90deg, #FF5C1D 0%, #DD460C 100%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.cover {
    position: relative;
    background: url("./Assets/Services/Cover.png") center/cover no-repeat;
    padding: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #fff;
}

.cover::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 0;
}

.cover > h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
    z-index: 1;
}

.cover > p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
    max-width: 40%;
    text-align: center;
    z-index: 1;
}

.services {
    background: black;
    padding: 50px 115px 50px 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services > h1 {
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    color: rgba(255, 92, 29, 1);
}

.services > h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);    
}

.services > p {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
}

.line {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 286px;
    border: 1px solid rgba(255, 92, 29, 1);
}

.services-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
}

.card {
    width: 32%;
    border-radius: 20px;
    margin-bottom: 2%;
}

.card-title{
    color: rgba(255, 92, 29, 1);
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.card-text {
    color: rgba(10, 29, 41, 1);
    font-family: Barlow;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.professional-drivers {
    padding: 10px 70px 50px 135px;
    display: flex;
    justify-content: space-between;
    background: black;
}

.left {
    padding-right: 20px;
}

.right {
    padding-left: 20px;
}

.left>img {
    border-radius: 20px;
}

.right>h1 {
    font-family: Barlow;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 92, 29, 1);
    padding-bottom: 5px;
}

.right>h2 {
    font-family: Barlow;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 20px;
}

.right>p {
    font-family: Barlow;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding-bottom: 5px;
}

.orange-button {
    background: linear-gradient(90deg, #FF5C1D 0%, #DD460C 100%);
    box-shadow: 0px 4px 15px 0px rgba(255, 92, 29, 0.4);
    border-radius: 8.5px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
    padding: 10px 15px;
    border: none;
}


/* Limo Component */

.limo {
    position: relative;
    background: darkblue;
    padding: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 0;
}


.limo > h1 {
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    color: rgba(255, 92, 29, 1);
    z-index: 1;
}

.limo > h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);  
    z-index: 1;  
}

.limo > p {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
    z-index: 1;
}

.limo-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
}

.limo-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 32%;
}

.limo-card > img {
    width: 96px;
    height: 96.03px;
}

/* Info Component */

.info {
    padding: 70px 70px 50px 135px;
    display: flex;
    justify-content: space-between;
    background: black;
}

.info-left {
    padding-right: 20px;
}

.info-right {
    padding: 40px 0px 40px 20px;
}

.info-right h1 {
    color: rgba(255, 92, 29, 1);
    font-family: Barlow;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;    
}

.info-right h2 {
    color: rgba(255, 255, 255, 1);
    font-family: Barlow;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;    
}

.info-right p {    
    font-family: Barlow;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left; 
    color: rgba(255, 255, 255, 1); 
}

.info-right-top > h1,
.info-right-top > h2,
.info-right-top > p {
    padding-bottom: 10px;
}

.info-right-top {
    width: 100%;
}

.info-right-bottom {
    display: flex;
    justify-content: space-between;
}

.info-right-inner1 {
    width: 40%;
}

.info-right-inner1-h1 {
    padding-top: 50px;

}

.info-right-inner2 {
    width: 55%;
}

.bold {
    font-weight: 700;
}

/* Contact-Us Component */

.contact-us {
    padding: 50px 200px;
    background-color: #FF5C1D;
    display: flex;
}

.contact-us > img {
    height: 131px;
    width: 131px;
}

.contact-us > p {
    font-family: Barlow;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding: 20px 10px 20px 40px;
}

.contact-us span {
    font-weight: 700;
}

/* Footer */

footer {
    background: 
    linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), /* Linear gradient */
    url('./Assets/Home/Footer.png') center/cover no-repeat;
    padding: 50px 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > p {
    width: 622px;
    height: 38px;
    font-family: Barlow;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(10, 29, 41, 1); 
    padding: 20px 0px;   
}

.wrapper {
    display: flex;
    padding: 30px 0px 0px;
    justify-content: space-between;
}

.w1 {
    width: 25%;
}

.w4 {
    width: 30%;
}

.w2 {
    width: 15%;
}

.w3 {
    width: 20%;
}

.wrapper h1 {
    font-family: Barlow;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 92, 29, 1); 
}

.wrapper ul {
    list-style: none;
    font-family: Barlow;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(10, 29, 41, 1);
    margin-left: 0;
    padding: 0px;
}

.wrapper li {
    padding: 5px 0px;
}

.wrapper p {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(10, 29, 41, 1);
}

footer input {
    padding: 10px 38px 10px 10px;
    border-radius: 5px;
    border-color: rgba(217, 217, 217, 1) ;
    background-color: rgba(217, 217, 217, 1);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    font-family: Barlow;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;  
    border: none;
    outline: none;  
}

footer button {
    padding: 10px 20px;
    border-radius: 5px;
    border-color: #FF5C1D;
    box-shadow: 0px 4px 15px 0px rgba(255, 92, 29, 0.4);
    background: linear-gradient(90deg, #FF5C1D 0%, #DD460C 100%);
    font-family: Barlow;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);  
    margin-right: 0px;  
}

.full-line {
    border: 1px solid rgba(255, 92, 29, 1);
    width: 100%;
}

.Copyright {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    width: 100%;
}

